<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ласкаво просимо !</title>
</head>
<body>
    <h1>  Привітання</h1>
    {% if error %}
        <p class=error><strong style="color: red;">Error:</strong> {{ error }}
    {% endif %}
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    
    <form action="" method="post">
        <p>
	    <label for="username">Ім'я</label>
	    <input type="text" name="username">
	</p>
	<p>
	    <input type="submit" value=Привітатись>
	</p>
    </form>
    
    <form action="/users" target="_blank">
       <button>Список привітавшихся</button>
    </form>

</body>
</html>